.button {
  padding: 0;
  border: none;
  font: inherit;
  color: #0056ff;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #001bff;
  }

  &.bordered {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
}