.form {
  padding: 5px;
}

.label {
  display: block;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.labelText {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.textInput {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 32px;
  padding: 0 10px;
  outline: none;
  width: 100%;

  &.invalid {
    border-color: #ff0000;
  }
}

.navActions {
  display: flex;
  padding: 15px 5px;
  justify-content: space-between;
}