.contact {
  color: #333;
}

.info {
  padding: 5px;
}

.infoItem {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.fullName {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #0056ff;

  &:hover {
    color: #001bff;
  }
}

.navLink {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 10px;
}

.numberLink {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.navActions {
  display: flex;
  padding: 15px 5px;
}