.link {
  background-color: transparent;
  border: none;
  color: #0056ff;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  outline: none;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: #001bff;
  }

  &.bordered {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
}